# Copy to .env and fill
GEMINI_API_KEY=
GEMINI_IMAGE_API_KEY=
GEMINI_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
GEMINI_IMAGE_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
PORT=3001
